$corVerde : #69B99D; 
$fundoDasCaixinhas : #F9F9F9;

span{
    color: $corVerde;
}

header{
    border-bottom: 10px;
    border-color: black;
    justify-content: space-between;
    border-bottom: 10px;
    border-color: black;
}

.caixinhas{
    background-color: $fundoDasCaixinhas;
}

.quintaTela{
    background-color: $fundoDasCaixinhas;
}
footer{
    background-color: $corVerde;
}
#1{
    align-items: center;
}
.primeraTela {
    justify-content: space-between;
}
.quadrado01{
    background-color: $corVerde;
    width: 150px;
    height: 150px;
    justify-content: space-around;
}